<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img style="object-fit: none; object-position: -80px;" height="250px" class="card-img-top" src="/images/tutorials/simd/cover.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Practical approach to SIMD</h5>
                    <p class="card-text">
                        Simple and practical SIMD tutorial in C++. It covers the basics of intrinsic operations and goes through an example
                        of building a simple explosion update that could be implemented within a game. At the end 
                        it show some performance measurements.
                    </p>
                    <LinkTo @route="tutorials.simd" class="btn btn-primary">Go to tutorial</LinkTo>
                </div>
            </div>
        </div>
    </div>
</div>