<br>
<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-10">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 class="card-title">
                        <LinkTo @route="tutorials.mathematics.part-1">Part 1: Basics of Vectors</LinkTo> <small
                            class="text-muted">17/10/2022</small>
                    </h5>
                    <p style="text-align: justify;">
                        List of tutorials that walks through mathematical concepts applied to games. 
                        Starting with the basics of vectors to more advanced aspects of linear algebra, 
                        but all in the realm of video games. It also contains some code samples ready to 
                        use in any project. They are not perfect, but they work fine.
                    </p>
                    <p>
                        <i class="fas fa-tags"></i> Tags:
                        <span class="badge badge-info">Mathematics</span>
                        <span class="badge badge-info">Linear ALgebra</span>
                        <span class="badge badge-info">Vectors</span>
                        <span class="badge badge-info">C++</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>