<div class="container">
    <h1>Part 1: Basics of Vectors</h1>
    <hr>
    <h2>Introduction</h2>
    <p style="text-align: justify;">
        Nothing better to explain what a vector is than an analogy. Suppose you are on an island with a map leading you to a treasure. 
        By looking at the map, you'll see clear instructions like:
        <ul>
            <li>Walk 6 steps to the northwest</li>
            <li>Walk 10 steps to the west</li>
            <li>Walk 8 steps to the north</li>
        </ul>
    </p>
    <div class="text-center">
        <img src="/images/tutorials/mathematics/part_1/map.png" width="80%">
    </div>
    <p style="text-align: justify;">
        If you look closer, you'll see that the map is always telling you a direction and how far you must go in that direction. 
        Vectors work in more or less the same way. You have a direction and a magnitude. But vectors as usually represented with 
        coordinates. For example, for a 2D space, vectors are represented by an x coordinate and a y coordinate. In a 3D space, 
        these coordinates are x, y and z. And with games, it is common to work with 4D vectors with x, y, z, and w coordinates.
        In the following image, you can see two different vectors
    </p>
    <div class="text-center">
        <img src="/images/tutorials/mathematics/part_1/vectors_01.png" width="40%">
    </div>
    <p style="text-align: justify;">
        Vector <code>a</code> is represented by (4, 2) and vector <code>b</code> by (3, 5). Both of these vectors are 2D vectors
    </p>
</div>