<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="/images/me/me_outside.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Who Am I</h4>
                    <p class="card-text">{{this.personal.resumedInfo}}</p>
                    <p class="text-center">{{#each this.personal.links as |link|}} <a href="{{link.link}}"><i class="{{link.icon}}"></i></a>{{/each}}</p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h4>Welcome</h4>
            Hi! Welcome to my Website. This is where I'll keep everything about me up to date as well as some tutorials where I can share my knowledge.
        </div>
    </div>
</div>
